
:root {
  --main-highlite-color: #2D3047;

  --second-highlite-color: #a63d40;

  --contrast-color-dark: #C2CFB2;
  --contrast-color-dark-lighter: #7B8377;

  --contrast-color-light: #;
  --contrast-color-light-darker: #;

  --background-color: #F6C5AF;
  --text-color: #333;
  --heading-font: 'Rubik', sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 2;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

img {
  width: 100%;
  display: block;
}

.svg {
  width: 200px;

}

header {
  position: relative;
}

picture img {
  max-height: 80vh;
  object-fit: cover;
  object-position: right top;
}
header .overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  line-height:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  color: var(--background-color);
  font-size: clamp(3rem,6vw,6rem);
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px var(--contrast-color-dark);
  margin: 0 0 3rem 2rem;
}

header p {
  color: var(--background-color);
  font-size: clamp(1.5rem, 3vw, 2rem);
  letter-spacing: -2px;
  margin: 0 0 3rem 2rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li a {
  display: block;
  color: var(--text-color);
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem 1.8rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

nav li a[href]:hover {
  border-bottom: 3px solid var(--second-highlite-color);
}

img {
  width: 100%;
  display: block;
}
h1, h2, h3 {
  font-family: var(--heading-font);
  line-height: 1mm;
}

h2 {
  font-size: 2rem;
   color: var(--second-highlite-color);
}

a {
  cursor: pointer;
  display: inline-block;
}

.intro {
  display: flex;
  flex-direction: column;
}

.intro .txt-wrap {
  order: -1;
  margin-bottom: 2rem;
}

.intro h2 {
  margin-top: 0;
}


@media screen and (min-width: 768px) {
  article {
    margin: 10rem 0;
  }
  aside {
    font-size: 3rem;
  }
  .intro {
    flex-direction: row;
  }
  .intro .img-wrap {
    order: 0;
    margin-bottom: 0;
    flex: 1 1 50%;
  }
  .intro .txt-wrap {
    flex: 1 1 50%;
  }
  .intro .left {
    order: -1;
    margin-right: 2rem;
  }
  .intro h2 {
    margin-top: 0;
  }
  .intro img {
    height: 100%;
    object-fit: cover;
  }
}
