
: root {
  --main-highlite-color: ##2D3047;

  --second-highlite-color: #a63d40;

  --contrast-color-dark: #C2CFB2#;
  --contrast-color-dark-lighter: #7B8377;

  --contrast-color-light: #;
  --contrast-color-light-darker: #;

  --background-color: #F6C5AF;
  --text-color: #333;
  --heading-font: 'coda';
}
*::before,
*::after {
    /* it's common to add this to every stylesheet; it forces
    a box element to include the content, borders and padding
    in its set width and height (margins are not included) */
    box-sizing: border-box;
}
body {
  font-family:"Coda";
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 2;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

img {
  width: 100%;
  display: block;
}

header {
  position: relative;
}

picture img {
  max-height: 80vh;
  object-fit: cover
  object-position: right top;
}
header .overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  box-shadow: inset 0 0 Okay 10vw 5 vw rgba(0,0,0,.6);
  line-height:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  color: #C2CFB2;
  font-size: clamp(3rem,6vw,6rem);
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #685762;
}

header p {
  color: #
}
